@import "../../styles/config.scss";

.wrapper {
	h1 {
		display: none;
	}
	.home-header {
		background: transparent;
		.header-bottom {
			@include flexbox(space-between, flex-start);

			.header-content {
				@include flexbox(center, flex-start, column);
				margin-top: 5rem;
				color: $color--firstText;

				h2 {
					max-width: 22rem;
					font-size: 1.85em;
					font-weight: 600;
				}
				p {
					max-width: 24rem;
					font-size: 1em;
					font-weight: 400;
					opacity: 0.7;
					margin: 2rem 0 3rem 0;
				}
			}
			.header-mockup {
				@include flexbox();
				width: 25rem;
				&__img {
					width: 100%;

					img {
						width: 100%;
					}
				}
			}
		}
	}

	.features {
		@include flexbox(space-between, flex-start);
		margin-bottom: 4rem;

		.features-item {
			@include flexbox(center, center, column);
			margin: 0.5em;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&__icon {
				@include flexbox(center, center);
				width: 3.5rem;
				height: 3.5rem;
				border-radius: 100%;

				&.cloud {
					background: $color--blue;
				}
				&.system {
					background: $color--green;
				}
				&.performance {
					background: $color--purple;
				}
				&.management {
					background: $color--orange;
				}

				i {
					font-size: 2em;
					color: $color--firstText;
				}
			}
			h3 {
				font-size: 1.15em;
				font-weight: 500;
				text-align: center;
				color: $color--secondText;
				margin: 2rem 0 1rem 0;
			}
			p {
				max-width: 15rem;
				font-size: 0.85em;
				text-align: center;
				line-height: 1.75em;
				color: $color--thirdText;
			}
		}
	}
	.tracking-section {
		margin-bottom: 10rem;
		.section-left {
			&:before {
				right: 25%;
			}
		}
	}
	.analyse-section {
		flex-direction: row-reverse;

		.section-left {
			&:before {
				left: 25%;
			}

			img {
				&:first-child {
					width: 19rem;
					border-radius: 0.5rem;
					overflow: hidden;
				}
			}
		}
	}

	.demo {
		margin: 5rem 0;
		.demo-info {
			@include flexbox(center, flex-start, column);

			.demo-title {
				@include flexbox(center, center, column);
				width: 100%;
				.caption {
					max-width: 28rem;
					text-align: center;
					margin-bottom: 3rem;
				}
			}
			.demo-video {
				max-width: 80%;
				position: relative;

				&__btn {
					@include flexbox(center, center);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 5rem;
					height: 5rem;
					border-radius: 100%;
					background: $color--firstText;

					i {
						font-size: 1.5em;
						color: $color--thirdPrimary;
					}
				}
			}
		}

		.get-app {
			@include flexbox(space-around, flex-end);
			padding: 5em 2em;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: -1;
				width: 100%;
				height: 200%;
				background: linear-gradient(
					330deg,
					$color--firstPrimary,
					$color--secondPrimary 99%
				);
			}

			.app-desc {
				.title,
				.caption {
					color: $color--firstText;
				}
				.caption {
					margin-bottom: 0;
				}
			}
			.app-link {
				@include flexbox();

				a {
					width: 10rem;
					height: 3rem;
					border-radius: 10px;
					overflow: hidden;
					&:first-child {
						margin-right: 1rem;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}
