@import "./config.scss";
body {
	font-family: Montserrat, sans-serif;
	overflow-x: hidden;
}
* {
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
}
.container {
	width: 100%;
	margin: 0 auto;
	padding: 2rem 3.5rem;
}
