@import "./config.scss";
body {
	font-family: Montserrat, sans-serif;
	overflow-x: hidden;
}
* {
	font-family: Montserrat, sans-serif;
	box-sizing: border-box;
}
.container {
	width: 100%;
	padding: 2rem 3.5rem;
}
.center {
	width: 100%;
	padding: 3em 14em;
}

.title {
	max-width: 20rem;
	margin-bottom: 1.5rem;
	font-size: 1.7em;
	font-weight: 600;
	color: $color--secondText;
}
.caption {
	max-width: 26rem;
	margin-bottom: 1.5rem;
	font-size: 0.85em;
	line-height: 1.75em;
	color: $color--thirdText;
}
