//mixin

@mixin flexbox($justify: start, $align: start, $direction: row, $wrap: no-wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}