//-------------------------Colors

// Primary
$color--firstPrimary: #3023ae;
$color--secondPrimary: #c96dd8;
$color--thirdPrimary: #3b2eb2;

// Text
$color--firstText: #ffffff;
$color--secondText: #293039;
$color--thirdText: #4e5c66;
$color--forthText: #94a1ac;
$color--fifthText: #abaab0;

// Background
$color--firstBg: #f6f9fd;
$color--secondBg: #1c232b;

//Others
$color--border: #ccd2d7;
$color--facebook: #4464b1;
$color--twitter: #57acef;
$color--linkedin: #007bb6;
$color--vimeo: #62a0ad;

// ----------------------- Media Widths

$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 576px;
$xxs-width: 450px;
