// --------------- Color

$color--firstBg: #12141d;
$color--secondBg: #0c0d14;
$color--thirdBg: #32353f;
$color--forthBg: #181b25;
$color--firstText: #ffffff;
$color--secondText: #6d6d72;
$color--thirdText: #8b8e9f; //159
$color--firstFooter: #727f7f; //127
$color--secondFooter: #ececec; //236
$color--firstPrimary: #00cf9c;
$color--secondPrimary: #123272;
$color--thirdPrimary: #ff0a45;
$color--border: #d8d8d8;
$color--orderBorder: #252832;
$color--dark: #000000;
$color--yellow: #e7b538;

// ----------------------- Media Widths

$lg-width: 1200px;
$md-width: 992px;
$sm-width: 768px;
$xs-width: 576px;
$xxs-width: 450px;
